@import url("https://fonts.googleapis.com/css2?family=Nunito&&family=Poppins&display=swap");

:root {
  --font1: "Nunito", sans-serif;
  --font2: "Poppins", sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ContactSection{
    margin-top: 20px;
    padding: 10px 20px;
}

.ContactSection .Infotext{
    width: 100%;
    text-align: center;
    font-family: inherit;
    padding: 5px;
}

.ContactDivs{
    font-family: var(--font2);
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    /* align-items: ; */
    padding: 20px;
}

.contactDetails{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;
}
.contactDetails h2{
    font-weight: bold;

}

.codeAddress{
    display: flex;
    align-items: flex-start;
    margin: 14px 0px;
}

.Address-Content{
    margin-left: 20px;
    text-align: left;
}

.Address-Content h4{
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
}

.Address-Content p{
    font-size: 18px;
    color: rgb(94, 93, 93);
}


.ContactForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

.ContactForm input,.textareaContactDetails{

    width: 100%;
    padding: 14px;
    margin: 8px 0px;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: inherit;

}




.btn-hover {
    cursor: pointer;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;

    height: 40px;
    text-align:center;
    border: none;
    padding: 8px 14px;
    background-color: #ec7c2d;

    border-radius: 5px;
}

.btn-hover:hover {
    background-color: grey;
}





/* Media Queries */
@media screen and (max-width: 1288px){
    .ContactDivs{
        width: 90%;
    }
}


@media screen and (max-width: 789px){
    .ContactDivs{
        padding: 0px;
        flex-wrap: wrap;
        width: 90%;
        justify-content: stretch;
    }
    .contactDetails{
        margin: 0px;
    }
    .ContactForm{

        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .ContactSection{
        padding: 0px;
    }
}

@media screen and (max-width: 426px){
    .Address-Content h4{
        font-size: 18px;

    }
    
    .Address-Content p{
        font-size: 16px;
    }

    .btn-hover{
        width: 100%;
    }
}